@tailwind base;
@tailwind components;
@tailwind utilities;

.link-button {
  background-color: #479eef;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.link-button:hover {
  background-color: #479eef;
}

textarea {
  resize: none;
}